.container {
  background: $cl-bg-banner;
}
.carousel-inner {
  margin-left: 110px;
}
.item {
  display: inline-block;
  margin: 0 10px;
  background: $cl-banner;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid $cl-banner;
  border-radius: 3px;
  margin-top: 50px;
}
.img-responsive {
  height: 150px;
  width: 150px;
} 
