.fa-chevron-circle-down.before {
  content: "";
}
.fal.fa-angle-down {
    display: none;
}
.icon-down {
  font-size: 18px;
  float: right;
  color: #b4afaf;
  background: #fff;
}

.nav-item .icon-up {
  display: none;
}

