.btn-menu {
    float: right;
    background-color: #54cbe9;
    border: none;
    border-radius: 3px;
    font-size: 25px;
    height: 35px;
    position: relative;
    bottom: 45px;
    right: 10px;
    &__text-menu {
        display: none;
    }
}
.icon-menu {
    color: $cl-white;
    margin: 3px 0;
}
