@import 'abstracts/variables';
.search {
  float: right;
  position: relative;
  top: 10px;
}
.form-control {
  background: #f95669;
  border: 1px solid rgba(255,255,255,.5); 
  height: 47px;
  width: 320px;
  font-family: "Lato",sans-serif;
  position: absolute;
  right: 180px;
  top: -60px;
}
::-webkit-input-placeholder { 
  color: $cl-banner;
  letter-spacing: .05em;
  font-size: 15px;
}
.btn-search {
  position: absolute;
  top: -60px;
  height: 52px;
  right: 15px;
  width: 150px;
  background: $cl-banner;
  border-radius: 3px;
  border: 1px solid $cl-banner;
  color: $cl-black;
  font-size: 17px;
  font-weight: 700;
}
